
<ion-button expand="full" (click)="createCode()"><ion-icon name="barcode" slot="start"></ion-icon>Create Code</ion-button>
<br><br>
<div #printdiv>
    <div *ngIf="createCode" style="text-align:center;margin:0 auto;position: relative" id="qrdiv" #qrdiv media="print">
        <img id="snapshot" />
        <ngx-qrcode [(qrc-value)]="createdCode" qrc-element-type="canvas" qrc-errorCorrectionLevel = "L"  #qrcodeborder ></ngx-qrcode>

        <essence-ng2-print 
        #printBtn	
        [mode]="'iframe'"
        [popTitle]="'QR Code Print'" 
        [printHTML]="printdiv"  
        [printStyle]="printStyle"
        [showBtn]="false">
        </essence-ng2-print>
    </div>

    <div id="wordsDiv" *ngIf="showdiv" #wordsDiv>
      <p> <b>ID:</b> {{line1_data}}</p>
      <p> <b>Name:</b> {{line2_data}}</p>
      <p> <b>Date:</b> {{line3_data}}</p>
    </div>
</div>
before hash: {{strlenbefore}}
after hash: {{strlen}}

<ion-button expand="full" (click)="scanCode()"><ion-icon name="qr-scanner" slot="start"></ion-icon>Scan Code</ion-button>
<ion-card *ngIf="scanCode">
  <ion-card-content>
    Result: {{scannedCode}}
  </ion-card-content>
</ion-card>
<hr/>
<ion-button expand="full" (click)="print()">Print</ion-button>
<ion-button expand="full" (click)="download()">Download</ion-button>

